/* src/POPOSList.css */

.POPOSList {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 2em;
	max-width: 1200px;
	margin: auto;
	padding: 2em;
}
/* Smaller screens and tablets */
@media only screen and (max-width: 960px) {
	.POPOSList {
		grid-template-columns: 1fr 1fr;
	}
}
/* Small screens mobile */
@media only screen and (max-width: 700px) {
	.POPOSList {
		grid-template-columns: 1fr;
	}
}

form {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}

form input,
form button {
	padding: 0.5em;
	margin: 0;
	border: 1px solid;
	font-size: 1;
}

form input {
	flex: 1;
	border-top-left-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
}

form button {
	border-top-right-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
}
