/* src/POPOSSpace.css */

.POPOSSpace {
	position: relative;
}
.POPOSSpace img {
	width: 100%;
	height: auto;
}

.POPOSSpace .POPOSSpace-title {
	display: block;
	position: absolute;
	text-decoration: none;
	left: 0;
	top: 0;
}
.POPOSSpace h2 {
	margin: 0;
	font-weight: lighter;
	color: darkgray;
	background-color: rgba(255, 255, 255, 0.9);
	padding: 0.5rem;
	text-align: left;
}

.POPOSSpace button {
	margin-top: 1em;
	border: none;
	border-radius: 8px;
	padding: 0.5em 1em;
	background-color: rgb(192, 45, 26);
	color: #fff;
}
.POPOSSpace .POPOSSpace-info {
	position: absolute;
	right: 0;
	bottom: 0;
	text-align: right;
}
.POPOSSpace .POPOSSpace-info div {
	display: inline-block;
	padding: 0.25em 0.5em;
	background-color: rgba(255, 255, 255, 0.9);
}
