/* src/POPOSSpace.css */

.POPOSSpace {
	width: 100%;
}
.POPOSSpace > img {
	width: 100%;
	height: auto;
}
.POPOSSpace h3 {
	margin-bottom: 0.5em;
}

.POPOSSpace div {
	font-style: italic;
}

.POPOSSpace button {
	margin-top: 1em;
	border: none;
	border-radius: 8px;
	padding: 0.5em 1em;
	background-color: rgb(192, 45, 26);
	color: #fff;
}
