/*  src/Title.css  */
.Title {
	box-sizing: border-box;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1em;
	margin-bottom: 2em;
	background-color: rgb(192, 45, 26);
	color: #fff;
}

.Title h1 {
	margin-bottom: 0;
}

.Title-Subtitle {
	color: rgba(255, 255, 255, 0.75);
}
